<?xml version="1.0" encoding="UTF-8"?>

<project name="checkstyle" default="report:checkstyle-metrics">
    <property name="outputfile.xml" value="${target.reports.checkstyle.dir}/xml/checkstyle-metrics-${target.reports.checkstyle.outputfile.suffix}.xml" />
    <property name="outputfile.html" value="${target.reports.checkstyle.dir}/html/checkstyle-metrics-${target.reports.checkstyle.outputfile.suffix}.html" />
    <property name="outputfile.tm3" value="${target.reports.checkstyle.dir}/complexity-treemap-${target.reports.checkstyle.outputfile.suffix}.tm3" />
    <path id="checkstyle.classpath">
        <fileset dir="${checkstyle.dir}" includes="lib/*.jar"/>
    </path>

    <taskdef resource="checkstyletask.properties"
             classpathref="checkstyle.classpath"/>

    <target name="report:checkstyle-metrics">
        <echo message="Executing checkstyle from ${checkstyle.dir}" />
        <mkdir dir="${target.reports.checkstyle.dir}" />
        <mkdir dir="${target.reports.checkstyle.dir}/xml" />
        <mkdir dir="${target.reports.checkstyle.dir}/html" />
        
        <checkstyle config="${checkstyle.dir}/ant/checkstyle-metrics.xml">
            <fileset dir="${src.dir}" includes="**/*.java"/>
            <formatter type="xml" toFile="${outputfile.xml}"/>
        </checkstyle>

        <xslt in="${outputfile.xml}"
              out="${outputfile.html}"
              style="${checkstyle.dir}/checkstyle-metrics.xsl"/>


        <exec executable="/usr/bin/ruby" output="${outputfile.tm3}" >
            <arg value="${checkstyle.dir}/checkstyle2tm3.rb" />
            <arg value="${outputfile.xml}" />
            <arg value="${src.dir}" />
        </exec>

    </target>


</project>